# Preprocess the COMPAS Dataset
In this file, we preprocess the COMPAS dataset for binary classification via an NN. The COMPAS data can be found here: https://github.com/propublica/compas-analysis. We use much of the same methodology as ProPublica in their preprocessing, found here: https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm

In [0]:
import pandas as pd
import csv

In [0]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Open and Explore COMPAS Dataset
We open the COMPAS dataset under compas-scores, found in the following GitHub Repo, made public by ProPublica: https://github.com/propublica/compas-analysis

In [0]:
df = pd.read_csv('/content/drive/My Drive/colab/fairness_checking/raw_data/compas-scores-two-years.csv')

In [0]:
df.head(5)

   id                name   first  ...   end event two_year_recid
0   1    miguel hernandez  miguel  ...   327     0              0
1   3         kevon dixon   kevon  ...   159     1              1
2   4            ed philo      ed  ...    63     0              1
3   5         marcu brown   marcu  ...  1174     0              0
4   6  bouthy pierrelouis  bouthy  ...  1102     0              0

[5 rows x 53 columns]

In [0]:
len(df)

7214

In [0]:
df.columns.values

array(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex',
       'dob', 'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out',
       'c_case_number', 'c_offense_date', 'c_arrest_date',
       'c_days_from_compas', 'c_charge_degree', 'c_charge_desc',
       'is_recid', 'r_case_number', 'r_charge_degree',
       'r_days_from_arrest', 'r_offense_date', 'r_charge_desc',
       'r_jail_in', 'r_jail_out', 'violent_recid', 'is_violent_recid',
       'vr_case_number', 'vr_charge_degree', 'vr_offense_date',
       'vr_charge_desc', 'type_of_assessment', 'decile_score.1',
       'score_text', 'screening_date', 'v_type_of_assessment',
       'v_decile_score', 'v_score_text', 'v_screening_date', 'in_custody',
       'out_custody', 'priors_count.1', 'start', 'end', 'event',
       'two_year_recid'], dtype=object)

Notice that we have 53 variables for each individual. We will be using the label for two_year_recid for our binary classifier, so we will predict whether an individual recidivates (commits another crime) in two years.

## Preprocess Features
We try to follow ProPublica's procedure in preprocessing and classifying the data as close as possible, under this article: https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm

First, following ProPublica's procedure, we filter out all cases with arrest or charge dates *within* 30 days of the COMPAS assessment being conducted. 

In ProPublica's words: "It was not always clear, however, which criminal case was associated with an individual’s COMPAS score. To match COMPAS scores with accompanying cases, we considered cases with arrest dates or charge dates within 30 days of a COMPAS assessment being conducted."

In [0]:
df = df[df['days_b_screening_arrest'] < 30]
df = df[df['days_b_screening_arrest'] > -30]

In [0]:
len(df)

6159

Instead of using the 'score_text' variable like ProPublica did, in this preprocessing method, we will instead label each training sample *directly* with whether that individual recidivated after two years. This can be found under the 'two_year_recid' feature. If 'two_year_recid' = 1, then that individual recidividated after two years. If 'two_year_recid' = 0, then that individual did not.

In [0]:
df['two_year_recid'].head(5)

0    0
1    1
2    1
5    0
6    1
Name: two_year_recid, dtype: int64

Now, we try to choose columns that are similar to ProPublica's chosen columns. In their analysis, ProPublica used "race, age, criminal history, future recidivism, charge degree, gender and age." 

To match this, we choose 9 features:
- sex
- age
- race
- juv_fel_count
- juv_misd_count
- juv_other_count
- priors_count
- c_charge_degree
- score_text

We use the label 'two_year_recid.'

We drop all other columns.

In [0]:
df = df[['sex', 
         'age', 
         'race', 
         'juv_fel_count', 
         'juv_misd_count', 
         'juv_other_count', 
         'priors_count', 
         'c_charge_degree', 
         'score_text',
         'two_year_recid']]

In [0]:
df.head(5)

    sex  age              race  ...  c_charge_degree  score_text  two_year_recid
0  Male   69             Other  ...                F         Low               0
1  Male   34  African-American  ...                F         Low               1
2  Male   24  African-American  ...                F         Low               1
5  Male   44             Other  ...                M         Low               0
6  Male   41         Caucasian  ...                F      Medium               1

[5 rows x 10 columns]

We do some final preprocessing to have binary values for sex, race, and c_charge_degree. For sex, we label 0 as female and 1 as male. For race (our sensitive variable), we label 1 as African-American and 0 as all other races NOT African-American. For c_charge_degree, we split into two columns: c_charge_degree_F and c_charge_degree_M. For score_text, we split into three columns: score_text_low, score_text_medium, and score_text_high.

In [0]:
df['sex'].replace(['Female','Male'], [0,1], inplace=True) # Replace sex

In [0]:
def label_race(row):
    if row['race'] == 'African-American':
        return 1
    else:
        return 0

In [0]:
df['race'] = df.apply(lambda row: label_race(row), axis=1) # Replace race

In [0]:
df = pd.get_dummies(df, prefix=['c_charge_degree'], columns=['c_charge_degree']) # Replace c_charge_degree

In [0]:
df = pd.get_dummies(df, prefix=['score_text'], columns=['score_text']) # Replace score_text

In [0]:
df.head(5)

   sex  age  race  ...  score_text_High  score_text_Low  score_text_Medium
0    1   69     0  ...                0               1                  0
1    1   34     1  ...                0               1                  0
2    1   24     1  ...                0               1                  0
5    1   44     0  ...                0               1                  0
6    1   41     0  ...                0               0                  1

[5 rows x 13 columns]

In [0]:
df = df[[col for col in df if col not in ['two_year_recid']] + ['two_year_recid']] # Move the label (two_year_recid) to the last col

In [0]:
df.head(5)

   sex  age  race  ...  score_text_Low  score_text_Medium  two_year_recid
0    1   69     0  ...               1                  0               0
1    1   34     1  ...               1                  0               1
2    1   24     1  ...               1                  0               1
5    1   44     0  ...               1                  0               0
6    1   41     0  ...               0                  1               1

[5 rows x 13 columns]

In [0]:
len(df)

6159

## Save the Preprocessed Dataset to CSV
Our final preprocessed dataset has 6,159 entries, 10 features, and a binary label (risk_recid). We save to CSV and use it for binary classification in another notebook.

In [0]:
df.to_csv('/content/drive/My Drive/colab/fairness_checking/preprocessed_compas_data_two_years.csv')